body{
  background-color: rgb(209, 193, 224);
}
.App {
  text-align: center;
}
.App-container{
    background: linear-gradient(179.7deg, rgb(248, 126, 126) -0.5%, rgb(251, 206, 143) 35.3%, rgb(184, 252, 233) 67.2%, rgb(118, 162, 229) 92.3%);;
    max-width: 700px;
    margin: 40px auto 76px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.06);
    border-radius: 20px;
    padding: 50px;
}
.searchInput{
    background-color: rgb(231, 217, 245);
    border: none;
    border-radius: 6px;
    width: 70%;
    font-size: 17px;
    padding: 15px 20px;
}
.formButton{
    background-color: rgb(214, 224, 255);
    padding: 15px 30px;
    border: none;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 17px;
}

.listLayout{
  list-style: none;
  text-align: center;
}
.loaderIcon{
 display: flex;
 justify-content: center;
}